.Absolute-Center.is-Responsive {
    width: 50%;
    height: 100%;
    min-width: 450px;
    max-width: 600px;
    padding: 40px;
    float: left;
    background-color: #f8f8f8;
}

.Absolute-Center {
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.basicPanel {
    border-radius: 0px;
    background-color: #f8f8f8;
    width: 30%;
    height: 50%;
    min-width: 30%;
    padding: 40px;
    float: left;
    overflow: auto;
}

.basicBottomPanel {
    height: calc(50% - 30px);
}

#notesTable {
    margin-top: 10px;
}

textarea {
    box-sizing: border-box;
    height: 80%;
    width: 100%;
}

#loginForm {
    position: absolute;
    margin: auto;
    height: 50%;
    width: auto;
}

.errorParagraph {
    color: crimson;
    font-weight: bold;
    outline: 1px solid red;
    width: 100%;
    margin-top: 10px;
}

#bottomTip {
    position: fixed;
    bottom: 0;
}

.infoLabel {
    width: 150px;
}

.menuBtn {
    margin-top: 10px;
}

.Menu {
    margin: 0;
    padding: 0;
    max-width: 400px;
}

.btn {
    border-radius: 0 !important;
}

body, html {
    height: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
    background-color: #ecf0f1;
}

.linkBtn {
    background: none !important;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
    border-bottom: 1px solid #444;
    cursor: pointer;
}

table {
    width: 100%;
}

div.inject {
    width: 100px;
    overflow: auto;
}

td {
    border: 1px solid #000;
    word-break: break-all;
}

tr td:last-child {
    width: 1%;
    white-space: nowrap;
}

#usersTable td:last-child {
    padding: 0;
    text-align: center;
}

.deleteUserBtn {
    border-width: 0;
}
