.Absolute-Center.is-Responsive {
    width: 50%;
    height: 100%;
    min-width: 450px;
    max-width: 600px;
    padding: 40px;
    float: left;
}

.Absolute-Center {
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#loginForm {
    position: absolute;
}

.errorParagraph {
    color: crimson;
    font-weight: bold;
    outline: 1px solid red;
    width: 100%;
    margin-top: 10px;
}

#bottomTip {
    position: fixed;
    bottom: 0;
}

.infoLabel {
    width: 150px;
}

.menuBtn {
    margin-top: 10px;
}

.Menu {
    margin: 0;
    padding: 0;
    max-width: 400px;
}

.btn {
    border-radius: 0 !important;
}

body, html {
    height: 100%;
    font-weight: bold;
    font-family: "Comic Sans MS";
}

.linkBtn {
    background: none !important;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
    border-bottom: 1px solid #444;
    cursor: pointer;
}

.divBordered {
    border-radius: 0px;
    border: 2px solid #444444;
    padding: 20px;
    width: 200px;
    height: 150px;
}

table {
    width: 100%;
}

div.inject {
    width: 100px;
    overflow: auto;
}

td {
    border: 1px solid #000;
    word-break: break-all;
}

tr td:last-child {
    width: 1%;
    white-space: nowrap;
}

#usersTable td:last-child {
    padding: 0;
    text-align: center;
}

.deleteUserBtn {
    border-width: 0;
}
