<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script type="text/javascript" th:src="@{/js/library.js}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>FirstBackendApplication</title>
</head>
<body>
<table class="table table-bordered table-hover">

    <tr>
        <td><strong>ID</strong></td>
        <td><strong>First Name</strong></td>
        <td><strong>Last Name</strong></td>
    </tr>
    <tr th:each="c : ${customers}">
        <td th:text="${c.id}">1</td>
        <td th:text="${c.firstName}">Title ...</td>
        <td th:text="${c.lastName}">Text ...</td>
    </tr>

</table>
</body>
</html>
